absl-py==1.0.0
astunparse==1.6.3
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
cycler==0.11.0
flatbuffers==2.0
fonttools==4.29.1
gast==0.5.3
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.44.0
h5py==3.6.0
idna==3.3
importlib-metadata==4.11.2
joblib==1.1.0
keras==2.0.8
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-vggface
kiwisolver==1.3.2
libclang==12.0.0
Markdown==3.3.6
matplotlib==3.5.1
mtcnn==0.1.0
numpy
opencv-python==4.5.1.48
opencv-python-headless==4.5.5.62
opt-einsum==3.3.0
packaging==21.3
pandas
pickleshare==0.7.5
Pillow==9.0.1
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.7
python-dateutil==2.8.2
tensorflow==1.13.1
tensorflow-cpu
pytz==2021.3
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-learn==1.0.2
h5py==2.10.0